:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body,html {
  margin: 0;
  padding: 0;
  --color-title: #fff;
}
body {
  cursor: url('./utils/default.cur'),auto;
}
body::-webkit-scrollbar{
  display:none
}
/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */



#app {
  max-width: 100%;

}
.datatime .el-input__wrapper {
  border: none !important;
  font-size: 23px !important;
  padding: 0 !important;
  font-weight: bolder !important;
  box-shadow: none !important;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #F8FAFD;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.SafeContent {
  width: 1200px;
  margin: auto;
}
.el-table th.el-table__cell>.cell {
  display: flex !important;
}
